<div class="container">
  <h1>Stupid Coaching</h1>
  <div id="qa">
    <div id= "my_question">
      <p> <%= params[:question] %></p>
      <p class= "answer">-You</p>
    </div>
    <div id="coach_answer">
      <p><%= @answer %></p>
      <p class= "answer">-Your coach</p>
    </div>
    <%= link_to "Ask a new question", ask_path %>
  </div>
</div>
