<div class="container">
  <h1>Stupid Coaching</h1>
  <p>Ask your coach anything:</p>
  <div>
    <form class= "form-group d-flex w-50" action="/answer">
    <input class= "form-control" type="text" name="question">
    <input type="submit" class="btn btn-primary"value="Ask!">
    </form>
  </div>
</div>

